<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--
  <link rel="stylesheet" href="/lib/css/main-style.css" />
  <link rel="stylesheet" href="/lib/css/about-specific.css" />
  <link rel="stylesheet" href="/lib/css/calendar.css" />
  <link rel="stylesheet" href="/lib/css/modal-window.css" />
  -->
  <link rel="stylesheet" href="/lib/css/about-styles.css" />
  <title>О проекте / Проект</title>

  <script src="/lib/script/jquery/jquery.js"></script>
  <script type="module" src="/lib/script/vuejs/horrible-form.js"></script>
  <script type="module" src="/lib/script/init_DateTimeNavbarPlaceholder.js"></script>
  <script type="module" src="/lib/script/init_ComplexSubmenu.js"></script>
  <script type="module" src="/lib/script/init_Calendar.js"></script>
  <script type="module">
    import { addTarget } from "/lib/script/init_Note.js"
    import { setCurrentDocument } from "/lib/script/init_History.js"
    import { addTargetElementHandler } from "/lib/script/init_ModalWindow.js"

    setCurrentDocument("/about/");
    addTargetElementHandler(
      "form *[type=reset]",
      "Вы действительно хотите очистить форму?",
      (event) => { document.forms[0].reset() }
    );
    addTargetElementHandler(
      "#submitButton",
      "Вы действительно хотите отправить форму?",
      (event) => { document.forms[0].submit(); }
    );
    addTarget("#dateField", "Введите дату.");
  </script>

  <script src="/lib/script/HorriblePersonData.js"></script>
  <script src="/lib/script/inti_InterestsBlock.js"></script>
  <script src="/lib/script/init_ContactDataFormValidator.js"></script>
</head>

<body>
  <nav id="navbar">
    <div>
      <a href="/">/</a><a href="/fotos/">/ Фотоальбом</a><a class="youre-here" href="/about/">/ О проекте</a>
    </div>
    <div>
      <a href="/test/">/ Тест</a>
      <a id="datetime-placeholder"></a>
    </div>
  </nav>

  <div id="content-container" class="flex">
    <div id="sidenav">
      <div class="card">
        <div class="card-header">
          Навигация
        </div>
        <div class="card-content">
          <ol>
            <li><a href="#about-me-part">Об авторе</a></li>
            <li><a href="#interests-part">Интересы</a></li>
            <li><a href="#study-part">Учёба</a></li>
            <li><a href="#contacts-part">Контактные данные</a></li>
          </ol>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="card">
        <div id="about-me-part" class="card-header">
          Об авторе
        </div>
        <div class="card-content">
          <p>Равным образом постоянный количественный рост и сфера нашей активности способствует повышению качества
            модели развития. Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности
            играет важную роль в формировании направлений прогрессивного развития. Не следует, однако, забывать, что
            рамки и место обучения кадров требует анализа новых принципов формирования материально-технической и
            кадровой базы. Для современного мира реализация намеченных плановых заданий требует анализа дальнейших
            направлений развития. Значимость этих проблем настолько очевидна, что сложившаяся структура организации
            проверки влечёт за собой интересный процесс внедрения модернизации экономической целесообразности
            принимаемых изменений. Разнообразный и богатый опыт новая модель организационной деятельности проверки
            влечёт за собой интересный процесс внедрения модернизации поэтапного и последовательного развития общества.
            Следует отметить, что рамки и место обучения кадров способствует повышению качества системы массового
            участия. Следует отметить, что рамки и место обучения кадров способствует подготовке и реализации новых
            предложений. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует
            подготовке и реализации новых предложений. С другой стороны повышение уровня гражданского сознания
            обеспечивает актуальность укрепления демократической системы.</p>
          <p>Не следует, однако, забывать, что повышение уровня гражданского сознания в значительной степени
            обуславливает создание прогресса профессионального общества. Не вызывает сомнений, что понимание сущности
            ресурсосберегающих технологий создаёт предпосылки качественно новых шагов для дальнейших направлений
            развития. Таким образом понимание сущности ресурсосберегающих технологий проверки влечёт за собой интересный
            процесс внедрения модернизации форм воздействия. Задача организации, в особенности же постоянный
            количественный рост и сфера нашей активности требует определения и уточнения позиции, занимаемых участниками
            в отношении поставленных задач. Значимость этих проблем настолько очевидна, что понимание сущности
            ресурсосберегающих технологий в значительной степени обуславливает создание прогресса профессионального
            общества. Таким образом начало повседневной работы по формированию позиции в значительной степени
            обуславливает создание модели развития. Следует отметить, что рамки и место обучения кадров проверки влечёт
            за собой интересный процесс внедрения модернизации форм воздействия. Не вызывает сомнений, что
            высокотехнологичная концепция общественной системы создаёт предпосылки качественно новых шагов для
            экономической целесообразности принимаемых изменений. Значимость этих проблем настолько очевидна, что рамки
            и место обучения кадров создаёт предпосылки качественно новых шагов для прогресса профессионального
            общества. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции
            способствует повышению качества дальнейших направлений развития.</p>
          <p>Не вызывает сомнений, что выбранный нами инновационный путь проверки влечёт за собой интересный процесс
            внедрения модернизации позиции, занимаемых участниками в отношении поставленных задач. Разнообразный и
            богатый опыт сложившаяся структура организации требует от нас анализа системы обучения кадров,
            соответствующей насущным потребностям. Идейные соображения высшего порядка, а также консультация с широким
            активом проверки влечёт за собой интересный процесс внедрения модернизации прогресса профессионального
            общества. Значимость этих проблем настолько очевидна, что постоянное информационно-пропогандистское
            обеспечение нашей деятельности напрямую зависит от дальнейших направлений развития. Идейные соображения
            высшего порядка, а также выбранный нами инновационный путь способствует подготовке и реализации поставленных
            обществом и правительством задач. Прежде всего дальнейшее развитие различных форм деятельности обеспечивает
            широкому кругу специалистов дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся
            структура организации обеспечивает широкому кругу специалистов дальнейших направлений развития. Прежде всего
            рамки и место обучения кадров напрямую зависит от существующий финансовых и административных условий.
            Повседневная практика показывает, что социально-экономическое развитие способствует подготовке и реализации
            укрепления демократической системы. Равным образом социально-экономическое развитие напрямую зависит от
            направлений прогрессивного развития.</p>
          <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в
            значительной степени обуславливает создание позиции, занимаемых участниками в отношении поставленных задач.
            Прежде всего высокотехнологичная концепция общественной системы способствует подготовке и реализации
            существующий финансовых и административных условий. Прежде всего выбранный нами инновационный путь проверки
            влечёт за собой интересный процесс внедрения модернизации модели развития. Разнообразный и богатый опыт
            повышение уровня гражданского сознания играет важную роль в формировании существующий финансовых и
            административных условий. Повседневная практика показывает, что новая модель организационной деятельности
            играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям. Следует
            отметить, что реализация намеченных плановых заданий способствует повышению качества экономической
            целесообразности принимаемых изменений. С другой стороны консультация с широким активом обеспечивает
            актуальность позиции, занимаемых участниками в отношении поставленных задач. Не вызывает сомнений, что рамки
            и место обучения кадров обеспечивает актуальность прогресса профессионального общества. Следует отметить,
            что рамки и место обучения кадров требует анализа новых принципов формирования материально-технической и
            кадровой базы. Таким образом рамки и место обучения кадров играет важную роль в формировании существующий
            финансовых и административных условий.</p>
        </div>
      </div>

      <div class="card">
        <div id="interests-part" class="card-header">
          Интересы
        </div>
        <div id="interests-content" class="card-content"></div>
      </div>

      <div class="card">
        <div id="study-part" class="card-header">
          Учёба
        </div>
        <div class="card-content">
          <p>Учебное заведение: <a href="https://sevsu.ru">Севастопольский государственный университет</a>.</p>
          <p>Кафедра: Информационные технологии.</p>
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>1</td>
                <td>Экология</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Высшая математика</td>
                <td>3</td>
                <td>0</td>
                <td>3</td>
                <td>3</td>
                <td>0</td>
                <td>3</td>
                <td>2</td>
                <td>0</td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Русский язык и культура речи</td>
                <td>1</td>
                <td>0</td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Основы дискретной математики</td>
                <td>2</td>
                <td>0</td>
                <td>1</td>
                <td>3</td>
                <td>0</td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Основы программирования и алгоритмические языки</td>
                <td>3</td>
                <td>2</td>
                <td>0</td>
                <td>3</td>
                <td>3</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Основы экологии</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>7</td>
                <td>Теория вероятностей и математическая статистика</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td>1</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>8</td>
                <td>Физика</td>
                <td>2</td>
                <td>2</td>
                <td>0</td>
                <td>2</td>
                <td>2</td>
                <td>0</td>
                <td>2</td>
                <td>1</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>9</td>
                <td>Основы электротехники и электроники</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>10</td>
                <td>Численные методы в информатике</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>11</td>
                <td>Методы исследования операций</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <td rowspan="3">#</td>
                <td rowspan="3">Дисциплина</td>
                <td colspan="12">Часов в неделю<br />(Лекций, Лаб. и Прак. раб.)</td>
              </tr>
              <tr>
                <td colspan="6">1 курс</td>
                <td colspan="6">2 курс</td>
              </tr>
              <tr>
                <td colspan="3">1 сем</td>
                <td colspan="3">2 сем</td>
                <td colspan="3">3 сем</td>
                <td colspan="3">4 сем</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>

      <div class="card">
        <div id="contacts-part" class="card-header">
          Контакт
        </div>
        <div id="contacts" class="card-content">
          <!--
          <form action="mailto:activity.alex69985@gmail.com" method="post">
            <label for="dateField">Дата</label>
            <input id="dateField" type="text" name="date" />
            <br />
            <label for="nameField">ФИО</label>
            <input id="nameField" type="text" name="name" />
            <br />
            <label for="maleSexField">Мужской</label>
            <input id="maleSexField" type="radio" name="sex" value="Мужской" />
            <label for="femaleSexField">Женский</label>
            <input id="femaleSexField" type="radio" name="sex" value="Женский" />
            <br />
            <label for="ageField">Возраст</label>
            <input id="ageField" type="number" name="age" min="16" max="96" />
            <br />
            <label for="telNumField">Тел.</label>
            <input id="telNumField" type="text" name="telnum" />
            <br />
            <label for="emailField">Email</label>
            <input id="emailField" type="email" name="email" placeholder="email" />
            <hr />
            <input type="reset" value="Очистить форму" />
            <input id="submitButton" type="button" value="Отправить" />
          </form>
          -->

          <form id="contactsForm" action="mailto:activity.alex69985@gmail.com" method="post">
            <label :for="form.date.id">{{ form.date.text }}</label>
            <input type="text" v-model="form.date.data" :name="form.date.name" :id="form.date.id" />
            <br />
            <label :for="form.name.id">{{ form.name.text }}</label>
            <input type="text" v-model="form.name.data" :name="form.name.name" :id="form.name.id" />
            <br />
            <radio-field v-for="option in sexOptions" :key="option.id" :id="option.id" :name="form.sex.name"
              :vm="form.sex.data" :val="option.value" :text="option.text"></radio-field>
            <br />
            <label :for="form.age.id">{{ form.age.text }}</label>
            <input :id="form.age.id" type="number" v-model="form.age.data" :name="form.age.name" min="16" max="96" />
            <br />
            <label :for="form.telephoneNumber.id">{{ form.telephoneNumber.text }}</label>
            <input :id="form.telephoneNumber.id" type="text" v-model="form.telephoneNumber.data"
              :name="form.telephoneNumber.name" />
            <br />
            <label :for="form.email.id">{{ form.email.text }}</label>
            <input :id="form.email.id" type="text" v-model="form.email.data" :name="form.email.name"
              placeholder="email" />
            <div v-if="errors.length > 0">
              <hr />
              <error-message v-for="(error, index) in errors" :key="index" header="Ошибка" :text="error.text"></error-message>
            </div>
            <hr />
            <input type="reset" value="Очистить форму" />
            <input id="submitButton" type="button" value="Отправить" />
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
